html, body, div{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div{
  position: fixed;
  bottom: 0;
  
  border: 2px solid red;
  height: 25px;
  width: 100%;
  background: orange;
}
